<!DOCTYPE html>
<html>
<head>
    <title>{{ blog.title }} - Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/write">Write</a>
        <a href="/about">About</a>
    </nav>
    
    <main>
        <h1>{{ blog.title }}</h1>
        <p class="author">By: {{ blog.author }}</p>
        <p class="content">{{ blog.content }}</p>
        <a href="/" class="back">← Back</a>
    </main>
</body>
</html>
